
Podfile.lock
Pods
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/Pods-PharmacyAdminApp/Pods-PharmacyAdminApp-acknowledgements.plist
.DS_Store
