<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>PharmacyApp need to access camera to get picture and use in customer chat</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PharmacyApp needs to access photo library to pick your pictures and send in customer chat</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
